
body {
  margin: 0;
  font-family: 'Love Ya Like A Sister', cursive;
  text-align: center;
}

button {
  font-family: 'Love Ya Like A Sister', cursive;
}

input {
  font-family: 'Love Ya Like A Sister', cursive;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
